/* Mohave & Open Sans */

/* reset */
html {
  box-sizing: border-box;
}

/* get rid of ugly gray box on tap */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* box sizing awesomeness */
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a, a:active, a:visited {
  color: #000;
}

a:hover {
  color: #555;
}

a:active {
  color: #AAA;
}

h1, h2, h3, h4, h5, h6, label {
  margin: 0;
  padding: 1rem 0;
  font-family: 'Mohave', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

body {
  background: #F9F9F9;
  font-family: 'Open Sans', sans-serif;
  /*border-bottom: 6px solid #007FFF;*/
}

header, main, footer, nav { display: block; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
/* /reset */

/* fonts */
@font-face {
    font-family: 'Mohave';
    src: url('../vendor/fonts/mohave/mohave-webfont.eot');
    src: url('../vendor/fonts/mohave/mohave-webfont.eot?#iefix') format('embedded-opentype'),
         url('../vendor/fonts/mohave/mohave-webfont.woff2') format('woff2'),
         url('../vendor/fonts/mohave/mohave-webfont.woff') format('woff'),
         url('../vendor/fonts/mohave/mohave-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../vendor/fonts/opensans/opensans-regular-webfont.eot');
    src: url('../vendor/fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../vendor/fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('../vendor/fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('../vendor/fonts/opensans/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* /fonts */

.site-title {
  font-family: 'Mohave', sans-serif;
  text-align: center;
  font-size: 6rem;
  letter-spacing: 0.2rem;
  font-weight: 100;
  padding: 4rem 0;
}

.site-title   .site-title-link {
  color: #000;
}

.site-title-link {
  font-weight: normal;
}

/* accessibility */
.screen-reader-only {
  position: absolute;
  left: -100000px;
  top: -100000px;
}
/* /accessibility */

/* grid */
.container {
  max-width: 40rem;
  margin: 0 auto;
}

.grid-item {
  display: inline-block;
  float: left;
}

.one-third {
  width: 33.33%;
}

.one-fourth {
  width: 25%;
}

.one-half {
  width: 50%;
}

.gutters {
  padding: 1rem;
}

.demo {
  background-color: #000;
  min-height: 10rem;
}
/* /grid */

/* site-nav */
.site-nav {
  font-family: 'Mohave', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #000;
  padding: 0.2rem;
  position: fixed;
  width: 100%;
  z-index: 20;
  border-bottom: 4px solid #000;
  border-top: 4px solid #000;


  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.3);
}
.site-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.site-nav-item {
  display: inline-block;
}

.site-nav .site-nav-link, .site-nav .site-nav-toggle {
  padding: 0.2rem 1rem;
  color: #FFF;
}

.site-nav-link {
  border-bottom: 4px solid #000;
}

.site-nav .site-nav-link:hover {
  border-bottom: 4px solid #F9F9F9;
}

.site-nav .site-nav-link.current-page {
  border-bottom: 4px solid #F9F9F9;
}

.site-nav-toggle {
  display: none;
}
/* /site-nav */

/* panels */
.panel.panel-default {
  background-color: #FAFAFA;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
/* /panels */

/* misc */
.kevin-portrait {
  display: block;
  margin: 0 auto;
  width: 250px;

  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  overflow: hidden;
}
.kevin-portrait:hover {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.text-center {
  text-align: center;
}

.site-content {
  background-color: #F9F9F9;
}

.divider { border-top: 4px solid #000; }

.divider-dashed { border-top: 4px dotted #000; }
/* /misc */

/* header */
.site-header {
  min-height: 30rem;
  position: fixed;
  width: 100%;
  background-color: rgba(220, 220, 220, 0.1);
  background-image: url('../images/intro-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* /header

/* main */
.site-content {
  position: relative;
  top: 30rem;
}
/* /main */

/* footer */
.site-footer {
  margin: 4rem 0 2rem;
}
/* /footer */

.panel.grey {
  background-color: rgba(204, 204, 204, 0.3);
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 2rem 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 10px 0px rgba(0,0,0,0.2);
}

.gym-icon {
  background: url('../images/gym-icon-inverted.png') no-repeat;
  background-size: 100%;
  width: 14px;
  height: 14px;
  display: inline-block;
}

.interest-item {
  padding: 3rem;
  text-align: center;
}

.interest-description {
  padding-top: 0.2rem;
  display: block;
}

.interest-icon {
  max-width: 100%;
  height: auto;
  margin: 0 auto;

  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  overflow: hidden;
}

.interest-icon:hover {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.breakout-heading {
  padding-top: 3rem;
  text-align: center;
  padding-bottom: 0;
}

.form-label {
  display: inline-block;
  width: 15%;
  font-weight: bold;
  font-size: 1.2rem;
}

.form-group {
  margin: 0 0 1rem;
}

.form-input {
  width: 84%;
  line-height: 1.5rem;
}

.form-input {
  background: #000;
  color: #FFF;
  border: 1px solid #CCC;
  padding: 1rem;
}

.btn {
  font-family: 'Mohave', sans-serif;
  font-size: 1.2rem;
  background: #000;
  color: #FFF;
  border: 0;
  padding: 0.5rem;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn:active {
  background-color: #CCC;
}

.pull-right {
  float: right;
}

.blog-teaser-read-more {
  font-family: 'Mohave', sans-serif;
}

.portfolio-thumbnail, .portfolio-link {
  display: block;
}

.portfolio-thumbnail {
  width: 100%;
  height: auto;
}

.portfolio-thumbnail, .interest-icon, .blog-teaser-thumbnail {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio-thumbnail:hover, .interest-icon:hover, .blog-teaser-thumbnail:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

.gutter-right {
  padding-right: 1rem;
}

.gutter-right:last-child {
  margin-right: 0;
}

.blog-teaser-thumbnail {
  max-width: 100%;
  height: auto;
}

.blog-teaser-block {
  display: block;
}

.blog-teaser-text {
  font-weight: normal;
}

.card {
  padding: 0.5rem 1rem;
  border: 1px solid #CCC;

  background-color: rgba(255, 255, 255, 0.4);

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }

.portfolio .row {
  margin-top: 1rem;
}

.icon-js {
  margin-top: 1rem;
}

.icon-php {
  margin-top: 2rem;
}

/* responsive */
@media screen and (max-width: 42rem) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }

  .site-nav-item {
    padding: 2rem 0 0;
  }

  .site-nav-item, .site-nav-link {
    display: block;
  }

  .site-nav-link {
    width: 100%;
  }
}

@media screen and (max-width: 50rem) {
  .site-title {
    font-size: 3rem;
  }

  .kevin-portrait {
    max-width: 60%;
  }

  .grid-item {
    width: 100%;
    float: none;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 35rem) {
  .site-title {
    font-size: 3rem;
  }

  .kevin-portrait {
    max-width: 60%;
  }

  .site-header {
    min-height: 20rem;
  }

  .site-content {
    top: 20rem;
  }
}
/* /responsive */

#blog .row {
  margin-bottom: 10px;
}
